* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --header-footer-background-color: hsl(319, 18%, 21%);
    --lightpink: rgb(241, 207, 207);
    --lightgray: rgba(196, 203, 204, 0.925);
    --about-me-work-border: #151520;
    --rgba-border-color-opacity: rgba(205, 213, 218, 0.877);
  }
  html {
    scroll-behavior: smooth;
  }
  header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-footer-background-color); 
  }
  header h1 {
    
    padding-left: 50px;
    color:var(--lightpink)
  }
  header nav ul {
    display: flex; /* Flex container to display the child elements as flex with flex-end, wrap, and align the items in center */
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
  }
  header nav ul li {
    /*Viewport font-size to help with the responsiveness of the web page */
    font-size: 1.8vw;
    /* Align nav tabs to closely match the header h1 element*/
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    
  }

  header a {
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--lightpink);
    color: var(--lightpink);
  }
  body{
    background-color: var(--lightgray); /* Apply background to all of the body of the page */
    
    font-family: 'Martel', serif;
    font-size: 20px;
  }

  footer {
    /* Apply background to the body of the page */
    background-color: var(--header-footer-background-color); 
    color: var(--lightpink); /* footer title color */
  }

  footer a {
    text-decoration: none;
    border-bottom: 2px solid var(--lightpink); 
    color: var(--lightpink); /* anchor text color */
    font-size: 1.8vw; /* View port font-size to help with responsiveness */
    font-weight: bold;
  }

  img.image {
    border: 1px solid var(--lightpink);
    float: left;
    padding: 0 1em 1em 0;
    width: 200px;
    height: 200px;
  }
  
.navigation a:hover{ 
    color: var(--lightgray);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--lightpink);
  }

  .work-grid-container div:hover{ /* Create the ilussion of a brighter image once hovered */
    mix-blend-mode:color-burn;
  }

  .footer-container a:hover{
    color: var(--lightpink);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--lightpink);
  }

  .Background_image { /* Here section is a flex container */
    height: 300px;
    background-image: url("../Images/background_1.jfif");
    border-bottom-left-radius: 30px 30px; 
    border-bottom-right-radius: 30px 30px;
    background-size: cover; 
    background-position:  100% 13%; 
    background-attachment: fixed; /* Image scrolls with the page */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: flex-end;
  }

  .cool_subtitle { /* Styling to the subtitle  */
    padding-bottom: 15px;
    padding-right: 15px;
  }

  .about-me-wrapper { /* Flex wrapper */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 50px;
  }
  .about-me-grid-container {
   /* CSS Grid */
   width: 100%; /* Contain the grid to a maximum of 80% of the flex wrapper */
   display: grid;
   grid-template-columns: 1fr repeat(2, 2fr);
   gap: 10px 10px; /* Gap on x and y grid */
   



}
.about-me-item.about-me-title { /* Cell declarations for the title of the container */
  padding-top: 0px;
  font-size: 35px;
  grid-row: auto ;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid var(--about-me-work-border);
}

.about-me-item.p1 {
    padding-left: 10px;
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }
  .about-me-item.p2 {
    padding-left: 10px;
    padding-top: 20px;
    
    grid-row: 2 / span 1;
    grid-column: 2 / span 3;
  }
  .work-wrapper { /* Flex wrapper */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 25px;
  
  }
  
  .work-grid-container {/* CSS Grid */
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr); 
    grid-template-rows: repeat(10, 2fr);
    gap: 10px 10px; /* Gap on x and y grid */
    
  }

  .work-item.work-title {
    padding-top: 10px;
    font-size: 35px;
    grid-row: auto;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--about-me-work-border);
}



  .wordParty { /* Grid cells with embedded images */
    grid-column: 2 / span 2;
    grid-row: 1 / span 5;
    background-image: url("../Images/word_party.png");
    background-size: cover; /* Allows the image to autosize  */
    display: flex; /*Flex required to move the element as flex */
    align-items:flex-end; /*Allow text to be at center of grid*/
    padding-left: 0px;
    padding-bottom: 15px;
    text-align:left;
    border: .25vw solid var(--rgba-border-color-opacity);
  }
  .DayScheduler {
    grid-column: 2 /span 2;
    grid-row: 6 / span 5;
    background-image: url("../Images/dayscheduler_color.png");
    background-size: cover;
    display: flex; /*Flex required to move the element as flex */
    align-items: flex-end; /*Allow text to be at center of grid*/
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
  }

  .codequiz {
    grid-column: 4 /span 22;
    grid-row: 1 / span 5; 
    background-image: url("../Images/code-quiz_mainpage.png");
    background-size: cover;
    /* Allow the background image to align */
    display: flex; /*Flex required to move the element as flex */
    align-items: flex-end; /*Allow text to be at center of grid*/
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
  }


  .weatherProject{
    grid-column: 4 /span 22;
    grid-row: 6 / span 5;
    background-image: url("../Images/weatherDashboard.png");
    background-size: cover;
    display: flex; /*Flex required to move the element as flex */
    align-items: flex-end; /*Allow text to be at center of grid*/
    padding-left: 120px;
    padding-bottom: 15px;
    text-align: center;
    border: .25vw solid var(--rgba-border-color-opacity);
  }
  .span-background { /* Apply background to any span with this class name */
    
    background-color: var(--lightpink);
    position: relative;
    display: flex
    line-height: ;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
    opacity: .8;
  }
  }
  .span-background.title { 
    /* Match the header Nav element on the flex container elements*/
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .span-background.opacity{
    opacity: .95; 
    font-size: 30px;
  }
  .span-background.lower-text {
    font-size: x-small;
    font-weight: 500;
  }
  .footer-wrapper { /* Flex container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .footer-container { /* CSS Grid */
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr); 
    grid-template-rows: repeat(4,2fr); 
    gap: 20px 20px; 
  }
  /*footer grid*/
  .footer-grid-item {
    text-align: center;
  }

  .footer-grid-item.contact-me {
    padding-top: 10px;
    font-size: 35px;
    grid-row: 1 / span 3;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--lightskyblue);
  }
  .footer-grid-item.phone{
    
    grid-row: 2;
  }
  .footer-grid-item.email{
    grid-row: 2;
  }  
  .footer-grid-item.git-hub{
    grid-row: 2;
  }

  .footer-grid-item.linkedin{
    
    grid-row: 2;
  }
  @media screen and (max-width: 980px) {

    /* footer grid smaller screen changes  */
 header {
      justify-content: center;
 }
header h1 {
        /* At smaller screens remove space at left of h1 on header */
 padding-left: 0px;
}
.cool subtitle {
  font-size: 1vh;
    padding-right: 30px;
}
.span-background{
    font-size: 10px;
}
.header Background_image{
    background-attachment: scroll;
}
.about-me-wrapper {
    margin-top: 20px;
    
  }
.about-me-grid-container {

   /*CSS grid*/ 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* Gap on x and y grid */
    gap: 5px 5px; 
}
.about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-work-border);
}
.about-me-item.p1 {
    padding-top: 0px;
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
}
.about-me-item.p2 {
    padding-top: 0px;
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    /* Push away the work container from the about me grid containter */
    padding-bottom: 10px;
}

  

  
  
    
  

  
    
    







  /* End of work projects grid smaller screen code changes */

  /* Start of footer grid smaller screen code changes */
  .footer-wrapper {
    margin-top: 20px;
  }

  .footer-container { 
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5px 2.5px; /* Gap on x and y grid */
  }
  .footer-grid-item.contact-me {
    padding-top: 0px;
    font-size: 20px;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    /* Border right removed*/
    border-right: none;
    /* Border bottom added for new grid format */
    border-bottom: 2px solid var(--lightpink);
    padding-left: 25px;
  }

  .footer-grid-item.phone{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 10px;
  }

  .footer-grid-item.email{
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 25px;

  }

  
  .footer-grid-item.linkedin{
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    width: 20px;
    padding-left: 80px;
  }

  .footer-grid-item.github{
    grid-column: 4 / span 1;
    grid-row: 2/ span 2;
    align-self: center;
    width: 20px;
    padding-left: 80px;
  }
  /* End of footer grid smaller screen code changes  */
}

/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {
  /* Start of footer grid smaller screen code changes  */

  /* Start of semantic elents code changes */
  header a {
    /* Allow screen changes relatively to the viewport of the width available*/
    font-size: 3vw;
  }

  .Background_image { /* Here section is a flex container */
    height: 150px;
  }

  footer a {
    font-size: 2vw;
  }


  

  /* Start of class code changes */
  .navigation a:hover{
     
      font-size: 2vw; 
  }

  .footer-container a:hover{
    font-size: 1.8vw;
  }

  
  .Background_image {
    background-attachment: scroll;
    
  }
    
  .about-me-wrapper {
    margin-top: 10px;
    font-size: 2vw
  }
  .about-me-grid-container {/*CSS Grid*/
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(1, 1fr);
    /* Gap on x and y grid */
    gap: 1px 1px; 
  }

  
  .about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--about-me-work-border);
    align-self: start;
  }
  .about-me-item.p1 {
    padding-top: 0px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.about-me-item.p2 {
    padding-top: 0px;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    /* Push away the work container from the about me grid containter */
    padding-bottom: 5px;
}

img.image {
  border: 1px solid var(--lightpink);
  float: left;
  padding: 0 1em 1em 0;
  width: 100px;
  height: 100px;
}
.work-me-wrapper {
  margin-top: 0px;
  font-size: 2vw
  
}

.work-grid-container{
  grid-template-columns: 1fr repeat(4, 4fr); 
  grid-template-rows: 1fr repeat(4, 4fr);
  /* Gap on x and y grid */
    /* Gap on x and y grid */
    gap: 2px 2px;
    width: 100%;
    display:grid;
    
    
}

  
  .work-item.work-title {
    font-size: 25px;
    grid-column:  1 / span 10;
    grid-row: 1 / span 1;
    text-align: center;
    padding-top: 0px;
    
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--about-me-work-border);
    border-right: none;
   
    
  }

  .wordParty {
    grid-column: 1 / span 3;
    grid-row: 2/ span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
    
     
  }

  .DayScheduler {
    grid-column: 1 /span 3;
    grid-row: 4 / span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
    
  }
  

  .codequiz {
    grid-column: 4 /span 3;
    grid-row: 2 / span 2;
    background-position: scroll;
    text-align: center;
   
    
  }
  
  .weatherProject {
    grid-column: 4 /span 3;
    grid-row: 4 / span 2;
    background-position: scroll;
    text-align: left;
    padding-left: 20px;
    
    
  }

  

  

  

    .footer-wrapper { /* Get the footer closer to the work grid container at the top*/
  margin-top: 10px;
  }

    /* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {
  /* Start of footer grid smaller screen code changes */

  
  /* Start of semantic elents code changes */
  header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-footer-background-color); 
  }
  header h1 {
    font-size: 5vw;
    padding-left: 50px;
    color:var(--lightpink)
  }

  .span-background.opacity{
    opacity: .95; 
    font-size: 20px;
  }
  
  header a {
    font-size: 3vw;
  }

  header nav ul {
    padding-right: 0px;
    justify-content: center;
  }
  
  header nav ul li {
    padding: 2px 2px 2px 2px;
  }
  .Background_image
  {
    height: 100px;
  }

  

  p{
    font-size:3vw;
  }
  .about-me-wrapper {
    margin-top: 20px;
    font-size: 2vw
  }
  

  
  .work-grid-container{
    grid-template-columns: 1fr repeat(1, 1fr); 
    grid-template-rows: 1fr repeat(4, 3fr);
    /* Gap on x and y grid */
    gap: 1px 1px;
    display:grid;
    width: 100%;
    height:auto;
   }
   .wordParty {
    grid-column: 1 / span 1;
    grid-row: 2/ span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
    
     
  }

  .DayScheduler {
    grid-column: 1 /span 1;
    grid-row: 4 / span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;
    
  }
  

  .codequiz {
    grid-column: 2 /span 2;
    grid-row: 2 / span 2;
    background-position: scroll;
    text-align: center;
   
    
  }
  
  .weatherProject {
    grid-column: 2 /span 2;
    grid-row: 4 / span 2;
    background-position: scroll;
    text-align: left;
    padding-left: 20px;
    
    
  }

  footer a {
    font-size: 2.5vw;
  }

  .navigation a:hover{
      font-size: 2.5vw; 
  }
  .footer-wrapper { /* Flex container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .footer-container a:hover{
    font-size: 2vw;
  }

  /* gap removed from the container  */
  .footer-container {
    gap: 0px 0px;
  }
  .footer-grid-item.linkedin{ 
    padding-left: 25px;
  }
  .footer-grid-item.git-hub{ 
    padding-left: 5px;
  }




  

   
